.DS_Store
xcuserdata
Debug
Release
Release_x86
ReleaseSFX
*.suo
*.dcu
*.~*
*.depend
*.layout
*.filters
*.xccheckout
*.xcscmblueprint
*.xcscheme
*.o
*.a
*.exe
builds/android_ndk_jni_mk/libs
builds/android_ndk_jni_mk/obj
