language: cpp
matrix:
  include:
    - os: linux
      compiler: clang
    - os: linux
      compiler: gcc
    - os: linux
      compiler: arm-linux-gnueabi-gcc
      addons:
        apt:
          packages:
            - qemu
            - gcc-arm-linux-gnueabi
            - libc-dev-armel-cross
      env: CHOST=arm-linux-gnueabi
    - os: osx
      osx_image: xcode9.4
script:
- make DIR_DIFF=1 LZMA=0 MD5=0 MT=0 SYNC=0 
- make clean

- git clone https://github.com/sisong/lzma.git ../lzma
- make DIR_DIFF=0 LZMA=1 MD5=0 MT=1 SYNC=0 
- make clean

- make
- make clean

- git clone https://github.com/sisong/libmd5.git ../libmd5
- make DIR_DIFF=0 LZMA=0 MD5=1 MT=0 SYNC=1
- make clean

- make DIR_DIFF=1 LZMA=1 MD5=1 MT=1 SYNC=1

- if [[ $TRAVIS_OS_NAME == osx ]]; then xcodebuild -workspace builds/xcode/HDiffPatch.xcworkspace -scheme hdiffz -configuration Release OBJROOT=$PWD/bin SYMROOT=$PWD/bin; fi
- if [[ $TRAVIS_OS_NAME == osx ]]; then xcodebuild -workspace builds/xcode/HDiffPatch.xcworkspace -scheme hpatchz -configuration Release OBJROOT=$PWD/bin SYMROOT=$PWD/bin; fi
- if [[ $TRAVIS_OS_NAME == osx ]]; then xcodebuild -workspace builds/xcode/HDiffPatch.xcworkspace -scheme unitTest -configuration Release OBJROOT=$PWD/bin SYMROOT=$PWD/bin; fi
- if [[ $TRAVIS_OS_NAME == osx ]]; then xcodebuild -workspace builds/xcode/HDiffPatch.xcworkspace -scheme sync_server -configuration Release OBJROOT=$PWD/bin SYMROOT=$PWD/bin; fi
- if [[ $TRAVIS_OS_NAME == osx ]]; then xcodebuild -workspace builds/xcode/HDiffPatch.xcworkspace -scheme sync_client_test -configuration Release OBJROOT=$PWD/bin SYMROOT=$PWD/bin; fi

